/* ------- Sintaxe do CSS ------- */
/* seletor {
    propriedade: valor;
} */

/* p{
    color: pink;
}

p{
    color: blue;
}

p{
    color: black;
}

p{
    color: red;
}

p{
    color: green;
}

h1{
    color: purple;
}

h1{
    color: orange;
}

h1{
    color: yellow;
}

h1{
    color: brown;
}

h1{
    color: gray;
}

h2{
    color: cyan;
}

h2{
    color: aqua;
}

h2{
    color: chocolate;
}

h2{
    color: gold;
}

h2{
    color: silver;
} */

p{
    color: red;
}